body {
    color: wheat;
    background-color: #2196f3;
}

.form-control::placeholder {
    color: aliceblue;
    opacity: 1;
}

.Glassmorphism {
    background: rgba(255, 255, 255, 0.2);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.form-select option{
    background-color: rgba(41, 41, 160, 0.566);
}